header {
    background-color: black;
}

header .header {
    width: 1400px;
    height: 200px;
    margin: 0 auto;
}

nav .black {
    background-color: black;
}

.black ul {
    width: 1400px
}

.black ul li {
    padding: 15px 20px;
}

.black ul li:nth-child(1) {
    margin-left: 70px;
}

.black ul li a {
    color: white;
    font-size: 0.9em;
}

.white {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

div.main {
    width: 1400px;
}

.big {
    width: 680px;
    text-align: center;
    margin: 0 10px 0 50px;
}

.big_title {
    margin: 0px 30px 30px;
}

.big_title a {
    font-size: 3em;
    font-weight: bold;
}

.big_img {
    width: 680px;
    text-align: center;
}

.big_title2 {
    width: 680px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 20px;
}

.big_title2 a {
    font-weight: bold;
    font-size: 1.3em;
}

.big_list ul {
    width: 680px;
    text-align: left;
}

.big_list ul li {
    padding-bottom: 10px;
}

.small {
    width: 320px;
    /* margin: 0 10px 0 20px; */
    /* margin: 20px; */
}

.small div a {
    font-weight: bold;
}

.small_title {
    padding-bottom: 20px;
}

.small2 {
    width: 328px;
    margin-left: 10px;
}

.small2_title a {
    width: 328px;
    font-weight: bold;
    font-size: 1.2em;
}

.small2_list ul {
    width: 328px;
}

.small2_list ul li {
    padding-top: 20px;
    border-bottom: 2px dotted #dadada;
}

.small2_list ul li a {
    /* font-size: 1.2em; */
}

.small2_list ul li a:hover {
    text-decoration: none;
}

.small2_list ul li:hover {
    background-color: #f5f5f5;
}