header {
    background-color: black;
}

.header_wrap {
    height: 200px;
    text-align: center;
}

.header_wrap img {
    height: 200px;
    margin: 0 auto;
}

.nav {
    padding-top: 15px;
    background-color: black;
}

.nav .black ul li:nth-child(1) {
    padding-left: 80px;
    
}

.black ul li {
    margin: 0 40px 15px 0;
}

.black a {
    text-align: left;
    color: white;
    /* padding: 20px 40px; */
    font-size: 0.9em;
}

.nav .white {
    background-color: white;
    padding-top: 30px;
    padding-left: 110px;
    padding-bottom: 20px;
}

.big {
    width: 700px;
}

.title {
    padding-top: 30px;
    width: 800px;
}

.title a {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
}