#wrap {
    margin: 30px 0;
    padding: 30px 0;
    background-color: #fafbfc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/* 광고 div 관련 CSS */
#wrap div.ad_wrap {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

#wrap div.ad_wrap ul li {
    width: 400px;
}

#wrap div.ad_wrap ul li > ul > li:nth-child(1) {
    width: 160px;
    margin-right: 15px;
}

#wrap div.ad_wrap ul li > ul > li:nth-child(2) {
    width: 205px;
}

/* 공지 관련 CSS */
#wrap div.notice_wrap {
    width: 1200px;
    height: 60px;
    /* 줄 높이 정하는 속성 -> 행간 조정 */
    line-height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #dadada;
}

#wrap div.notice_wrap ul li:nth-child(1) {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

#wrap div.notice_wrap ul li:nth-child(3) {
    font-weight: bold;
    margin-right: 10px;
    float: right;
}

/* 서비스 관련 CSS */
#wrap div.service_wrap {
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    border-bottom: 1px solid #dadada;
    padding-top: 20px;
    text-align: right;
}

#wrap div.service_wrap > ul > li:nth-child(1) > div > ul >li {
    margin: 4px 0;
}

#wrap div.service_wrap ul li:nth-child(1) div > ul > li:nth-child(1) {
    font-weight: bold;
    margin-right: 20px;
}

#wrap > div.service_wrap > ul > li:nth-child(2) {
    float: right;
}

#wrap div.service_wrap ul li:nth-child(2) > ul > li {
    margin-left: 5px;
}

/* 정책 관련 CSS */
#wrap div.law_wrap {
    width: 1200px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}

#wrap div.law_wrap > ul > li {
    margin-right: 20px;
}



/* 폰트 관련 CSS */
.ad_title {
    color: #7ed187;
    font-weight: bold;
}

.ad_text {
    color: #242424;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 5px;
}

.ad_date {
    color: #242424;
    margin-top: 3px;
    font-size: 0.9em;
}