#wrap {
    width: 600px;
    margin: 0 auto;
}

/* 하나의 채팅 메시지 ui */
#wrap > div.chat_wrap > ul {
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 2px 2px 1px #ececec;
}

#wrap > div.chat_wrap > ul > li {
    margin: 0 20px;
}

#wrap > div.chat_wrap > ul > li > div img {
    min-width: 60px;
    max-width: 60px;
    border: 1px solid #dadada;
    border-radius: 60px;
}